In [1]:
from pyathena import connect
import pandas as pd
import os
#Assume role before!
conn = connect(aws_access_key_id=os.getenv('AWS_ACCESS_KEY_ID'),
              aws_secret_access_key=os.getenv('AWS_SECRET_ACCESS_KEY'),
              aws_session_token=os.getenv('AWS_SESSION_TOKEN'),
              s3_staging_dir='s3://aws-athena-query-results-878189897945-eu-west-1/',
              region_name='eu-west-1')

#query = "SELECT COUNT(1) AS num_events FROM alpha_health_evermind.events"
query = "SELECT * FROM alpha_health_evermind.events"

df = pd.read_sql(query, conn)
df

Failed to execute query.
Traceback (most recent call last):
  File "/Users/yc00086/.virtualenvs/pyspark2.4.4/lib/python3.6/site-packages/pyathena/common.py", line 202, in _execute
    **request).get('QueryExecutionId', None)
  File "/Users/yc00086/.virtualenvs/pyspark2.4.4/lib/python3.6/site-packages/pyathena/util.py", line 214, in retry_api_call
    return retry(func, *args, **kwargs)
  File "/Users/yc00086/.virtualenvs/pyspark2.4.4/lib/python3.6/site-packages/tenacity/__init__.py", line 391, in call
    do = self.iter(retry_state=retry_state)
  File "/Users/yc00086/.virtualenvs/pyspark2.4.4/lib/python3.6/site-packages/tenacity/__init__.py", line 338, in iter
    return fut.result()
  File "/Users/yc00086/.pyenv/versions/3.6.10/lib/python3.6/concurrent/futures/_base.py", line 425, in result
    return self.__get_result()
  File "/Users/yc00086/.pyenv/versions/3.6.10/lib/python3.6/concurrent/futures/_base.py", line 384, in __get_result
    raise self._exception
  File "/Users/yc00086/.virtualenvs/pyspark2.4.4/lib/python3.6/site-packages/tenacity/__init__.py", line 394, in call
    result = fn(*args, **kwargs)
  File "/Users/yc00086/.virtualenvs/pyspark2.4.4/lib/python3.6/site-packages/botocore/client.py", line 276, in _api_call
    return self._make_api_call(operation_name, kwargs)
  File "/Users/yc00086/.virtualenvs/pyspark2.4.4/lib/python3.6/site-packages/botocore/client.py", line 586, in _make_api_call
    raise error_class(parsed_response, operation_name)
botocore.exceptions.ClientError: An error occurred (AccessDeniedException) when calling the StartQueryExecution operation: User: arn:aws:iam::865925627931:user/inaki.estella@telefonica.com is not authorized to perform: athena:StartQueryExecution on resource: arn:aws:athena:eu-west-1:865925627931:workgroup/primary with an explicit deny

DatabaseError: Execution failed on sql: SELECT * FROM alpha_health_evermind.events
An error occurred (AccessDeniedException) when calling the StartQueryExecution operation: User: arn:aws:iam::865925627931:user/inaki.estella@telefonica.com is not authorized to perform: athena:StartQueryExecution on resource: arn:aws:athena:eu-west-1:865925627931:workgroup/primary with an explicit deny
unable to rollback

In [ ]:
df.sort_values('createdat').keys()

In [ ]:
import matplotlib.pyplot as plt
df.sort_values('createdat')['unique_name']

In [66]:
D.reset_index()[0]

0      443
1      794
2      864
3      997
4      146
      ...
297      3
298      1
299      1
300      1
301      1
Name: 0, Length: 302, dtype: int64

In [75]:
import pandas
from collections import Counter
a = df.sort_values('createdat')['unique_name']
letter_counts = Counter(a)

df2 = pandas.DataFrame.from_dict(letter_counts, orient='index')
D = df2.reset_index().sort_values(0, ascending=False)
D = []

                                                 index     0
48                                                None  6061
26                               screen_view.home.null  1949
29                           screen_view.activity.null  1567
32                      screen_view.activity-core.null  1277
19                          impression.assessment.null  1267
..                                                 ...   ...
251                tap.password_change.change_password     1
252           screen_view.password_change_success.null     1
253  tap.password_change_success.password_change_su...     1
260            tap.home.activity_locked_dialog_confirm     1
301                            tap.audio_activity.done     1

[302 rows x 2 columns]

In [48]:
plt.bar(list(range(len(D))), D.reset_index()[0], align='center')
plt.xticks(range(len(D)), list(D.keys()))

                                 index    0
0                 app_resume.home.null  443
1                  app_pause.home.null  794
2                   app_open.null.null  864
3              screen_view.splash.null  997
4                   tap.splash.sign-up  146
..                                 ...  ...
297   media_pause.audio_activity.audio    3
298    media_play.audio_activity.audio    1
299            tap.audio_activity.info    1
300  media_finish.audio_activity.audio    1
301            tap.audio_activity.done    1

[302 rows x 2 columns]